// Color
// --------------------------

@white-bg:     #fff;

// Navigation
// --------------------------

@nav-onglet-color:      #fff;
@nav-onglet-color-hover:        #333;
@nav-onglet-bg:         #333;
@nav-onglet-bg-hover:       #DDDDDD;
@nav-onglet-jsjt-bg:         #909090;
@nav-menu-color-hover:      #000;

// Header
// --------------------------

@header-search-bg:      @white-bg;
@header-search-icon:        "\e828";

